<%- include('header') %>
<h1> Resultado:</h1>
<div class="result">
<% if(error){ %>
  <%= error %>
  <% } else { %>
    
<p>A conversão para: <%= quantidade %> dolares na cotação de <%= cotacao %>  é de:</p>
<br>
<p>R$ <%= conversao %></p> 

<% } %>

</div> <!--result-->

<%- include('footer') %>